body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
  padding: 20px;
}

#loader {
  background: black;
  color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  display: inline-block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background:white;
  border-radius: 15px;
  padding: 25px;
  font-size: 24px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.tag {
  padding: 4px 12px;
  border-radius: 10px;
  display:inline-block;
  margin-top:10px;
}

.green { background:#0f0; }
.red { background:#f33; color:white;}
.yellow { background:#ff0;}
.gray { background:#bbb;}

.controls {
  display:flex;
  justify-content:center;
  gap:40px;
  margin: 20px 0;
  font-size:22px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {display:none;}
.slider {
  position:absolute;
  cursor:pointer;
  background:#ccc;
  inset:0;
  border-radius:34px;
}
.slider:before {
  content:"";
  position:absolute;
  height:26px;
  width:26px;
  left:4px;
  bottom:4px;
  background:white;
  border-radius:50%;
  transition:.4s;
}
input:checked + .slider {
  background:#2ecc71;
}
input:checked + .slider:before {
  transform:translateX(26px);
}
